@import url(/Assets/style/perfil.css);
@import url(/Assets/style/botoes.css);
@import url(/Assets/style/responsividade.css);

@font-face {
    font-family: 'Stinger';
    src: url('/Assets/font/Zetafonts\ -\ Stinger\ Fit\ Light.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

body{ 
    margin: 0em;
    padding: 0em;
    background-color: #54bcd341;
    font-family: 'Stinger', Helvetica, sans-serif;
    color: #2a3452 ;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content:space-between;
    padding: 1% 15%
}

main{
    height: 100%;
    text-align: center;
}

footer{
    margin: 0.5em;
}